{
  "openapi": "3.1.0",
  "info": {
    "title": "SharpAPI",
    "version": "1.0.0",
    "description": "Real-time sports betting odds API with +EV detection, arbitrage alerts, and Pinnacle sharp book reference. Build automated betting tools and receive instant opportunity notifications.",
    "contact": {
      "name": "SharpAPI Support",
      "url": "https://sharpapi.io/support",
      "email": "support@sharpapi.io"
    },
    "license": {
      "name": "Commercial",
      "url": "https://sharpapi.io/terms"
    }
  },
  "servers": [
    {
      "url": "https://sharpapi.io/api/v1",
      "description": "Production API"
    }
  ],
  "security": [
    { "ApiKeyHeader": [] },
    { "ApiKeyQuery": [] },
    { "BearerAuth": [] }
  ],
  "tags": [
    { "name": "Discovery", "description": "Sports, leagues, and events discovery" },
    { "name": "Odds", "description": "Odds snapshots and best prices" },
    { "name": "Markets", "description": "Market types and specific market data" },
    { "name": "Opportunities", "description": "EV, arbitrage, and value bet detection" },
    { "name": "Streaming", "description": "Real-time SSE data streams" },
    { "name": "User", "description": "User account and usage statistics" },
    { "name": "Reference", "description": "Reference data and configuration" }
  ],
  "paths": {
    "/sports": {
      "get": {
        "tags": ["Discovery"],
        "summary": "List sports",
        "description": "Returns list of available sports with event counts and associated leagues.",
        "operationId": "listSports",
        "parameters": [
          {
            "name": "include_empty",
            "in": "query",
            "description": "Include sports with 0 events",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sports",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SportsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/leagues": {
      "get": {
        "tags": ["Discovery"],
        "summary": "List leagues",
        "description": "Returns list of leagues with event counts, optionally filtered by sport.",
        "operationId": "listLeagues",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Filter by sport (e.g., basketball, football)",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of leagues",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LeaguesResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/events": {
      "get": {
        "tags": ["Discovery"],
        "summary": "List events",
        "description": "Returns list of events with filtering and pagination.",
        "operationId": "listEvents",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Filter by sport",
            "schema": { "type": "string" }
          },
          {
            "name": "league",
            "in": "query",
            "description": "Filter by league",
            "schema": { "type": "string" }
          },
          {
            "name": "live",
            "in": "query",
            "description": "Filter by live status",
            "schema": { "type": "boolean" }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Filter by date (YYYY-MM-DD)",
            "schema": { "type": "string", "format": "date" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results (max 500)",
            "schema": { "type": "integer", "default": 100, "maximum": 500 }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": { "type": "integer", "default": 0 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/events/live": {
      "get": {
        "tags": ["Discovery"],
        "summary": "List live events",
        "description": "Returns only in-play live events.",
        "operationId": "listLiveEvents",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Filter by sport",
            "schema": { "type": "string" }
          },
          {
            "name": "league",
            "in": "query",
            "description": "Filter by league",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of live events",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/LiveEventsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/events/{eventId}": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Get event details",
        "description": "Returns detailed information about a specific event including all available odds.",
        "operationId": "getEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "Event ID",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventDetailResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/events/search": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Search events",
        "description": "Search for events by team name.",
        "operationId": "searchEvents",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query (min 2 characters)",
            "schema": { "type": "string", "minLength": 2 }
          },
          {
            "name": "sport",
            "in": "query",
            "description": "Filter by sport",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results",
            "schema": { "type": "integer", "default": 20, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventSearchResponse" }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/odds": {
      "get": {
        "tags": ["Odds"],
        "summary": "Get odds snapshot",
        "description": "Returns current odds from all sportsbooks.",
        "operationId": "getOdds",
        "parameters": [
          {
            "name": "sports",
            "in": "query",
            "description": "Comma-separated sports filter",
            "schema": { "type": "string" },
            "example": "nba,nfl"
          },
          {
            "name": "books",
            "in": "query",
            "description": "Comma-separated sportsbooks filter",
            "schema": { "type": "string" },
            "example": "draftkings,pinnacle"
          }
        ],
        "responses": {
          "200": {
            "description": "Odds snapshot",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OddsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/odds/best": {
      "get": {
        "tags": ["Odds"],
        "summary": "Get best odds",
        "description": "Returns best available odds for each selection across all sportsbooks. Requires Pro tier.",
        "operationId": "getBestOdds",
        "parameters": [
          {
            "name": "sports",
            "in": "query",
            "description": "Comma-separated sports filter",
            "schema": { "type": "string" }
          },
          {
            "name": "event_ids",
            "in": "query",
            "description": "Comma-separated event IDs (batch lookup, max 10 for Pro, 50 for Sharp)",
            "schema": { "type": "string" }
          },
          {
            "name": "market_type",
            "in": "query",
            "description": "Filter by market type",
            "schema": { "$ref": "#/components/schemas/MarketType" }
          }
        ],
        "responses": {
          "200": {
            "description": "Best odds",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BestOddsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/TierRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/ev": {
      "get": {
        "tags": ["Opportunities"],
        "summary": "Get EV opportunities",
        "description": "Returns +EV betting opportunities calculated against Pinnacle sharp line. Requires Pro tier.",
        "operationId": "getEV",
        "parameters": [
          {
            "name": "sports",
            "in": "query",
            "description": "Comma-separated sports filter",
            "schema": { "type": "string" }
          },
          {
            "name": "books",
            "in": "query",
            "description": "Comma-separated target sportsbooks",
            "schema": { "type": "string" }
          },
          {
            "name": "min_ev",
            "in": "query",
            "description": "Minimum EV percentage",
            "schema": { "type": "number", "default": 2.0 }
          },
          {
            "name": "min_kelly",
            "in": "query",
            "description": "Minimum Kelly percentage",
            "schema": { "type": "number", "default": 0.5 }
          }
        ],
        "responses": {
          "200": {
            "description": "EV opportunities",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EVResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/TierRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/arbitrage": {
      "get": {
        "tags": ["Opportunities"],
        "summary": "Get arbitrage opportunities",
        "description": "Returns cross-book arbitrage opportunities with stake calculations. Requires Hobby tier or higher.",
        "operationId": "getArbitrage",
        "parameters": [
          {
            "name": "sports",
            "in": "query",
            "description": "Comma-separated sports filter",
            "schema": { "type": "string" }
          },
          {
            "name": "min_profit",
            "in": "query",
            "description": "Minimum profit percentage",
            "schema": { "type": "number", "default": 0.5 }
          }
        ],
        "responses": {
          "200": {
            "description": "Arbitrage opportunities",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ArbitrageResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/TierRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/value-bets": {
      "get": {
        "tags": ["Opportunities"],
        "summary": "Get value bets",
        "description": "Returns enhanced EV opportunities with confidence ratings and combined value scores. Requires Pro tier.",
        "operationId": "getValueBets",
        "parameters": [
          {
            "name": "sports",
            "in": "query",
            "description": "Comma-separated sports filter",
            "schema": { "type": "string" }
          },
          {
            "name": "books",
            "in": "query",
            "description": "Comma-separated target sportsbooks",
            "schema": { "type": "string" }
          },
          {
            "name": "min_ev",
            "in": "query",
            "description": "Minimum EV percentage",
            "schema": { "type": "number", "default": 2.0 }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results",
            "schema": { "type": "integer", "default": 50, "maximum": 200 }
          }
        ],
        "responses": {
          "200": {
            "description": "Value bets",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ValueBetsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/TierRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/opportunities/middles": {
      "get": {
        "tags": ["Opportunities"],
        "summary": "Get middle opportunities",
        "description": "Detects middle opportunities where both sides of a spread or total market could win, landing on numbers between the two lines. Requires Pro tier.",
        "operationId": "getMiddles",
        "security": [
          { "ApiKeyHeader": [] },
          { "ApiKeyQuery": [] },
          { "BearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Comma-separated sports filter (e.g. \"football,basketball\")",
            "schema": { "type": "string" }
          },
          {
            "name": "league",
            "in": "query",
            "description": "Comma-separated leagues filter (e.g. \"nfl,nba\")",
            "schema": { "type": "string" }
          },
          {
            "name": "sportsbook",
            "in": "query",
            "description": "Comma-separated sportsbook filter (e.g. \"draftkings,fanduel\")",
            "schema": { "type": "string" }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Comma-separated market type filter (e.g. \"spread,total,player_points\")",
            "schema": { "type": "string" }
          },
          {
            "name": "min_size",
            "in": "query",
            "description": "Minimum middle size in points",
            "schema": { "type": "number", "default": 0.5 }
          },
          {
            "name": "max_odds_age",
            "in": "query",
            "description": "Maximum age of odds in seconds. Filters out stale lines.",
            "schema": { "type": "number" }
          },
          {
            "name": "live",
            "in": "query",
            "description": "Filter by live (true) or prematch (false) events. Omit for both.",
            "schema": { "type": "boolean" }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order for results",
            "schema": { "type": "string", "enum": ["quality", "ev", "probability", "middle_size"], "default": "quality" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results per page",
            "schema": { "type": "integer", "default": 50, "maximum": 500 }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset",
            "schema": { "type": "integer", "default": 0, "maximum": 5000 }
          },
          {
            "name": "state",
            "in": "query",
            "description": "US state abbreviation for sportsbook deep links (e.g. \"pa\", \"nj\")",
            "schema": { "type": "string", "default": "pa" }
          }
        ],
        "responses": {
          "200": {
            "description": "Middle opportunities",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MiddlesResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/TierRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/opportunities/middles/summary": {
      "get": {
        "tags": ["Opportunities"],
        "summary": "Get middles summary",
        "description": "Returns aggregate statistics about currently available middle opportunities, broken down by sport, market type, and sportsbook. Requires Pro tier.",
        "operationId": "getMiddlesSummary",
        "security": [
          { "ApiKeyHeader": [] },
          { "ApiKeyQuery": [] },
          { "BearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Comma-separated sports filter",
            "schema": { "type": "string" }
          },
          {
            "name": "league",
            "in": "query",
            "description": "Comma-separated leagues filter",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Middles summary statistics",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MiddlesSummaryResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/TierRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/opportunities/middles/{id}": {
      "get": {
        "tags": ["Opportunities"],
        "summary": "Get middle opportunity by ID",
        "description": "Returns a single middle opportunity by its unique identifier. Requires Pro tier.",
        "operationId": "getMiddleById",
        "security": [
          { "ApiKeyHeader": [] },
          { "ApiKeyQuery": [] },
          { "BearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Middle opportunity ID (16-character hex string)",
            "schema": { "type": "string", "pattern": "^[0-9a-f]{16}$" }
          }
        ],
        "responses": {
          "200": {
            "description": "Middle opportunity details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MiddleOpportunity" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/TierRequired" },
          "404": { "description": "Middle opportunity not found" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/markets/types": {
      "get": {
        "tags": ["Markets"],
        "summary": "List market types",
        "description": "Returns list of available market types with descriptions.",
        "operationId": "listMarketTypes",
        "responses": {
          "200": {
            "description": "Market types",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MarketTypesResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/markets/player-props": {
      "get": {
        "tags": ["Markets"],
        "summary": "Get player props",
        "description": "Returns player proposition markets. Requires Pro tier.",
        "operationId": "getPlayerProps",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Filter by sport",
            "schema": { "type": "string" }
          },
          {
            "name": "event_id",
            "in": "query",
            "description": "Filter by event ID",
            "schema": { "type": "string" }
          },
          {
            "name": "player",
            "in": "query",
            "description": "Filter by player name (partial match)",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results",
            "schema": { "type": "integer", "default": 100, "maximum": 500 }
          }
        ],
        "responses": {
          "200": {
            "description": "Player props",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PlayerPropsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/TierRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/markets/alternates": {
      "get": {
        "tags": ["Markets"],
        "summary": "Get alternate lines",
        "description": "Returns alternate spread and total lines. Requires Pro tier.",
        "operationId": "getAlternates",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Filter by sport",
            "schema": { "type": "string" }
          },
          {
            "name": "event_id",
            "in": "query",
            "description": "Filter by event ID",
            "schema": { "type": "string" }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by spread or total",
            "schema": { "type": "string", "enum": ["spread", "total"] }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum results",
            "schema": { "type": "integer", "default": 100, "maximum": 500 }
          }
        ],
        "responses": {
          "200": {
            "description": "Alternate lines",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AlternatesResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/TierRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/markets/active": {
      "get": {
        "tags": ["Markets"],
        "summary": "Get active markets",
        "description": "Returns summary of all active markets with counts. Requires Pro tier.",
        "operationId": "getActiveMarkets",
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Filter by sport",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Active markets summary",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ActiveMarketsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "$ref": "#/components/responses/TierRequired" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/books": {
      "get": {
        "tags": ["Reference"],
        "summary": "List sportsbooks",
        "description": "Returns list of available sportsbooks with status and capabilities.",
        "operationId": "listBooks",
        "responses": {
          "200": {
            "description": "Sportsbooks list",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/BooksResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/user/stats": {
      "get": {
        "tags": ["User"],
        "summary": "Get usage statistics",
        "description": "Returns API usage statistics and tier limits for the authenticated user.",
        "operationId": "getUserStats",
        "responses": {
          "200": {
            "description": "User statistics",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserStatsResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/v1/stream": {
      "get": {
        "tags": ["Streaming"],
        "summary": "Unified real-time stream",
        "description": "Server-Sent Events stream of real-time odds, +EV, and arbitrage updates.",
        "operationId": "stream",
        "parameters": [
          {
            "name": "sports",
            "in": "query",
            "description": "Comma-separated sports filter",
            "schema": { "type": "string" }
          },
          {
            "name": "books",
            "in": "query",
            "description": "Comma-separated sportsbooks filter",
            "schema": { "type": "string" }
          },
          {
            "name": "min_ev",
            "in": "query",
            "description": "Minimum EV percentage",
            "schema": { "type": "number", "default": 2.0 }
          },
          {
            "name": "min_profit",
            "in": "query",
            "description": "Minimum arbitrage profit percentage",
            "schema": { "type": "number", "default": 0.5 }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE stream",
            "content": {
              "text/event-stream": {
                "schema": { "$ref": "#/components/schemas/CombinedStreamEvent" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key in X-API-Key header"
      },
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key in query parameter (for SSE streams)"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as Bearer token"
      }
    },
    "schemas": {
      "OddsValue": {
        "type": "object",
        "required": ["american", "decimal", "probability"],
        "properties": {
          "american": { "type": "number", "description": "American odds (-110, +150)", "example": -110 },
          "decimal": { "type": "number", "description": "Decimal odds (1.909)", "example": 1.909 },
          "probability": { "type": "number", "description": "Implied probability (0.524)", "example": 0.524 }
        }
      },
      "MarketType": {
        "type": "string",
        "enum": ["moneyline", "spread", "total", "team_total", "player_prop", "game_prop", "futures", "other"]
      },
      "EventStatus": {
        "type": "string",
        "enum": ["upcoming", "live", "ended", "postponed", "cancelled"]
      },
      "SubscriptionTier": {
        "type": "string",
        "enum": ["free", "pro", "sharp"]
      },
      "NormalizedOdds": {
        "type": "object",
        "required": ["id", "sportsbook", "eventId", "sport", "league", "homeTeam", "awayTeam", "marketType", "selection", "odds", "eventStartTime", "timestamp", "isLive"],
        "properties": {
          "id": { "type": "string" },
          "sportsbook": { "type": "string", "example": "draftkings" },
          "sportsbookDisplayName": { "type": "string", "example": "DraftKings" },
          "eventId": { "type": "string" },
          "sport": { "type": "string", "example": "basketball" },
          "league": { "type": "string", "example": "NBA" },
          "homeTeam": { "type": "string", "example": "Los Angeles Lakers" },
          "awayTeam": { "type": "string", "example": "Boston Celtics" },
          "marketType": { "$ref": "#/components/schemas/MarketType" },
          "selection": { "type": "string", "example": "Los Angeles Lakers" },
          "selectionType": { "type": "string", "enum": ["home", "away", "over", "under", "draw", "yes", "no", "other"] },
          "odds": { "$ref": "#/components/schemas/OddsValue" },
          "line": { "type": "number", "nullable": true, "example": -3.5 },
          "eventStartTime": { "type": "string", "format": "date-time" },
          "timestamp": { "type": "string", "format": "date-time" },
          "isLive": { "type": "boolean" },
          "playerName": { "type": "string", "description": "Player name (player prop markets only)" },
          "statCategory": { "type": "string", "description": "Stat category (player prop markets only)" }
        }
      },
      "Event": {
        "type": "object",
        "required": ["id", "sport", "league", "homeTeam", "awayTeam", "startTime", "status", "isLive", "markets", "bookCount"],
        "properties": {
          "id": { "type": "string" },
          "externalIds": { "type": "object", "additionalProperties": { "type": "string" } },
          "sport": { "type": "string" },
          "league": { "type": "string" },
          "homeTeam": { "type": "string" },
          "awayTeam": { "type": "string" },
          "startTime": { "type": "string", "format": "date-time" },
          "status": { "$ref": "#/components/schemas/EventStatus" },
          "isLive": { "type": "boolean" },
          "liveScore": {
            "type": "object",
            "properties": {
              "home": { "type": "integer" },
              "away": { "type": "integer" },
              "period": { "type": "string" },
              "clock": { "type": "string" }
            }
          },
          "markets": { "type": "array", "items": { "type": "string" } },
          "bookCount": { "type": "integer" }
        }
      },
      "SportSummary": {
        "type": "object",
        "required": ["id", "name", "eventCount", "liveCount", "leagues"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "eventCount": { "type": "integer" },
          "liveCount": { "type": "integer" },
          "leagues": { "type": "array", "items": { "type": "string" } }
        }
      },
      "LeagueSummary": {
        "type": "object",
        "required": ["id", "name", "sport", "eventCount", "liveCount"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "sport": { "type": "string" },
          "eventCount": { "type": "integer" },
          "liveCount": { "type": "integer" }
        }
      },
      "EVOpportunity": {
        "type": "object",
        "required": ["eventId", "eventName", "sport", "marketType", "sportsbook", "selection", "odds", "decimalOdds", "sharpOdds", "sharpDecimalOdds", "sharpBook", "fairProbability", "evPercent", "kellyPercent", "detectedAt"],
        "properties": {
          "eventId": { "type": "string" },
          "eventName": { "type": "string" },
          "sport": { "type": "string" },
          "marketType": { "type": "string" },
          "sportsbook": { "type": "string" },
          "selection": { "type": "string" },
          "odds": { "type": "number", "description": "American odds" },
          "decimalOdds": { "type": "number" },
          "sharpOdds": { "type": "number", "description": "Pinnacle American odds" },
          "sharpDecimalOdds": { "type": "number" },
          "sharpBook": { "type": "string" },
          "fairProbability": { "type": "number", "description": "True probability as percentage" },
          "evPercent": { "type": "number", "description": "Expected value percentage" },
          "kellyPercent": { "type": "number", "description": "Kelly Criterion stake percentage" },
          "detectedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ArbitrageLeg": {
        "type": "object",
        "required": ["sportsbook", "selection", "odds", "decimalOdds", "stakePercent"],
        "properties": {
          "sportsbook": { "type": "string" },
          "selection": { "type": "string" },
          "odds": { "type": "number" },
          "decimalOdds": { "type": "number" },
          "stakePercent": { "type": "number" }
        }
      },
      "ArbitrageOpportunity": {
        "type": "object",
        "required": ["eventId", "eventName", "sport", "marketType", "profitPercent", "impliedTotal", "legs", "detectedAt"],
        "properties": {
          "eventId": { "type": "string" },
          "eventName": { "type": "string" },
          "sport": { "type": "string" },
          "marketType": { "type": "string" },
          "profitPercent": { "type": "number" },
          "impliedTotal": { "type": "number" },
          "legs": { "type": "array", "items": { "$ref": "#/components/schemas/ArbitrageLeg" } },
          "detectedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ValueBet": {
        "allOf": [
          { "$ref": "#/components/schemas/EVOpportunity" },
          {
            "type": "object",
            "required": ["edgePercent", "combinedScore", "confidence", "marketLiquidity", "timeUntilStart"],
            "properties": {
              "edgePercent": { "type": "number" },
              "combinedScore": { "type": "number" },
              "confidence": { "type": "string", "enum": ["low", "medium", "high"] },
              "marketLiquidity": { "type": "string", "enum": ["low", "medium", "high"] },
              "timeUntilStart": { "type": "integer", "description": "Seconds until event starts" }
            }
          }
        ]
      },
      "MiddleSideOdds": {
        "type": "object",
        "description": "Odds data for one side of a middle opportunity",
        "required": ["american", "decimal", "probability", "fair_probability"],
        "properties": {
          "american": { "type": "number", "description": "American odds format (e.g. -110, +150)" },
          "decimal": { "type": "number", "description": "Decimal odds format (e.g. 1.909)" },
          "probability": { "type": "number", "description": "Implied probability from the odds (0-1)" },
          "fair_probability": { "type": "number", "description": "Fair probability with vig removed (0-1)" }
        }
      },
      "MiddleSide": {
        "type": "object",
        "description": "One side of a middle opportunity",
        "required": ["book", "selection", "line", "odds", "stake_percent"],
        "properties": {
          "book": { "type": "string", "description": "Sportsbook identifier" },
          "selection": { "type": "string", "description": "Selection name (e.g. team name, Over/Under)" },
          "line": { "type": "number", "description": "Point spread or total line" },
          "odds": { "$ref": "#/components/schemas/MiddleSideOdds" },
          "stake_percent": { "type": "number", "description": "Recommended stake percentage for this side (0-100)" },
          "odds_age_seconds": { "type": ["number", "null"], "description": "How old these odds are in seconds, or null if unknown" },
          "deep_link": { "type": ["string", "null"], "description": "Direct link to this bet on the sportsbook, or null if unavailable" }
        }
      },
      "GameState": {
        "type": "object",
        "description": "Current game state for live events",
        "properties": {
          "period": { "type": ["string", "null"], "description": "Current period (e.g. \"1st Quarter\", \"2nd Half\")" },
          "clock": { "type": ["string", "null"], "description": "Game clock (e.g. \"5:30\")" },
          "score_home": { "type": ["number", "null"], "description": "Home team score" },
          "score_away": { "type": ["number", "null"], "description": "Away team score" }
        }
      },
      "MiddleOpportunity": {
        "type": "object",
        "required": ["id", "event_id", "event_name", "sport", "league", "market_type", "home_team", "away_team", "side1", "side2", "middle_size", "middle_numbers", "middle_probability", "expected_value", "roi_percentage", "worst_case_loss", "best_case_profit", "break_even_percent", "is_guaranteed_profit", "quality_score", "market_overround", "is_live", "is_player_prop", "is_team_total", "warnings", "detected_at"],
        "properties": {
          "id": { "type": "string", "description": "Unique identifier (16-character hex string)", "pattern": "^[0-9a-f]{16}$" },
          "event_id": { "type": "string", "description": "Associated event identifier" },
          "event_name": { "type": "string", "description": "Display name of the event (e.g. \"Lakers vs Celtics\")" },
          "sport": { "type": "string", "description": "Sport key (e.g. \"basketball\", \"football\")" },
          "league": { "type": "string", "description": "League key (e.g. \"nba\", \"nfl\")" },
          "market_type": { "type": "string", "description": "Market type (e.g. \"spread\", \"total\", \"player_points\", \"player_rebounds\", \"team_total\")" },
          "home_team": { "type": "string", "description": "Home team name" },
          "away_team": { "type": "string", "description": "Away team name" },
          "start_time": { "type": ["string", "null"], "format": "date-time", "description": "Event start time in ISO 8601 format, or null if unknown" },
          "side1": { "$ref": "#/components/schemas/MiddleSide" },
          "side2": { "$ref": "#/components/schemas/MiddleSide" },
          "middle_size": { "type": "number", "description": "Size of the middle gap in points" },
          "middle_numbers": { "type": "array", "items": { "type": "integer" }, "description": "Integer values that fall within the middle" },
          "middle_probability": { "type": "number", "description": "Estimated probability of landing in the middle (0-1)" },
          "expected_value": { "type": "number", "description": "Expected value of the middle play as a decimal" },
          "roi_percentage": { "type": "number", "description": "Return on investment percentage" },
          "worst_case_loss": { "type": "number", "description": "Maximum loss if the middle does not hit" },
          "best_case_profit": { "type": "number", "description": "Maximum profit if the middle hits" },
          "break_even_percent": { "type": "number", "description": "Win percentage needed to break even" },
          "is_guaranteed_profit": { "type": "boolean", "description": "Whether this middle guarantees profit regardless of outcome" },
          "guaranteed_roi": { "type": ["number", "null"], "description": "Guaranteed ROI percentage if is_guaranteed_profit is true, otherwise null" },
          "key_numbers": { "type": "array", "items": { "type": "integer" }, "description": "Key numbers (high-frequency landing numbers) within the middle" },
          "key_number_probability": { "type": "number", "description": "Combined probability of landing on key numbers (0-1)" },
          "quality_score": { "type": "number", "description": "Overall quality score from 0-100 combining EV, probability, and key numbers" },
          "market_overround": { "type": "number", "description": "Combined overround (vig) of the two sides" },
          "odds_age_seconds": { "type": ["number", "null"], "description": "Age of the oldest odds in this opportunity in seconds" },
          "is_live": { "type": "boolean", "description": "Whether the event is currently live" },
          "game_state": {
            "oneOf": [
              { "$ref": "#/components/schemas/GameState" },
              { "type": "null" }
            ],
            "description": "Current game state for live events, null for prematch"
          },
          "is_player_prop": { "type": "boolean", "description": "Whether this is a player prop market" },
          "player_name": { "type": ["string", "null"], "description": "Player name if is_player_prop is true" },
          "stat_category": { "type": ["string", "null"], "description": "Stat category if is_player_prop is true (e.g. \"points\", \"rebounds\")" },
          "is_team_total": { "type": "boolean", "description": "Whether this is a team total market" },
          "team_name": { "type": ["string", "null"], "description": "Team name if is_team_total is true" },
          "warnings": { "type": "array", "items": { "type": "string" }, "description": "Warning messages about this opportunity (e.g. stale odds, low liquidity)" },
          "detected_at": { "type": "string", "format": "date-time", "description": "When this opportunity was first detected (ISO 8601)" }
        }
      },
      "Sportsbook": {
        "type": "object",
        "required": ["id", "name", "displayName", "isSharp", "hasLiveOdds", "hasPlayerProps", "region", "status"],
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "displayName": { "type": "string" },
          "isSharp": { "type": "boolean" },
          "hasLiveOdds": { "type": "boolean" },
          "hasPlayerProps": { "type": "boolean" },
          "region": { "type": "array", "items": { "type": "string" } },
          "status": { "type": "string", "enum": ["active", "inactive"] },
          "oddsCount": { "type": "integer" },
          "lastUpdate": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "SportsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "count": { "type": "integer" },
          "totalEvents": { "type": "integer" },
          "totalLive": { "type": "integer" },
          "sports": { "type": "array", "items": { "$ref": "#/components/schemas/SportSummary" } }
        }
      },
      "LeaguesResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "count": { "type": "integer" },
          "totalEvents": { "type": "integer" },
          "leagues": { "type": "array", "items": { "$ref": "#/components/schemas/LeagueSummary" } }
        }
      },
      "EventsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "total": { "type": "integer" },
          "count": { "type": "integer" },
          "limit": { "type": "integer" },
          "offset": { "type": "integer" },
          "hasMore": { "type": "boolean" },
          "events": { "type": "array", "items": { "$ref": "#/components/schemas/Event" } }
        }
      },
      "LiveEventsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "count": { "type": "integer" },
          "bySport": { "type": "object", "additionalProperties": { "type": "integer" } },
          "events": { "type": "array", "items": { "$ref": "#/components/schemas/Event" } }
        }
      },
      "EventDetailResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "event": { "$ref": "#/components/schemas/Event" },
          "oddsCount": { "type": "integer" },
          "oddsByMarket": { "type": "object" },
          "rawOdds": { "type": "array", "items": { "$ref": "#/components/schemas/NormalizedOdds" } }
        }
      },
      "EventSearchResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "query": { "type": "string" },
          "total": { "type": "integer" },
          "count": { "type": "integer" },
          "events": { "type": "array", "items": { "$ref": "#/components/schemas/Event" } }
        }
      },
      "OddsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "count": { "type": "integer" },
          "books": { "type": "array", "items": { "type": "string" } },
          "data": { "type": "object", "additionalProperties": { "type": "array", "items": { "$ref": "#/components/schemas/NormalizedOdds" } } }
        }
      },
      "BestOddsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "count": { "type": "integer" },
          "bestOdds": { "type": "array", "items": { "type": "object" } }
        }
      },
      "EVResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "count": { "type": "integer" },
          "summary": { "type": "object" },
          "opportunities": { "type": "array", "items": { "$ref": "#/components/schemas/EVOpportunity" } }
        }
      },
      "ArbitrageResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "count": { "type": "integer" },
          "summary": { "type": "object" },
          "opportunities": { "type": "array", "items": { "$ref": "#/components/schemas/ArbitrageOpportunity" } }
        }
      },
      "ValueBetsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "summary": { "type": "object" },
          "count": { "type": "integer" },
          "valueBets": { "type": "array", "items": { "$ref": "#/components/schemas/ValueBet" } }
        }
      },
      "MiddlesResponse": {
        "type": "object",
        "description": "Paginated response containing middle opportunities",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/MiddleOpportunity" }, "description": "Array of middle opportunities" },
          "pagination": {
            "type": "object",
            "properties": {
              "limit": { "type": "integer", "description": "Results per page" },
              "offset": { "type": "integer", "description": "Current offset" },
              "total": { "type": "integer", "description": "Total matching opportunities" },
              "max_offset": { "type": "integer", "description": "Maximum allowed offset value", "example": 5000 }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "source": { "type": "string", "description": "Data source identifier" },
              "summary": {
                "type": "object",
                "properties": {
                  "count": { "type": "integer", "description": "Number of results in this page" }
                }
              },
              "filters": {
                "type": "object",
                "description": "Active filters applied to the request",
                "properties": {
                  "sport": { "type": ["string", "null"] },
                  "league": { "type": ["string", "null"] },
                  "sportsbook": { "type": ["string", "null"] },
                  "market": { "type": ["string", "null"] },
                  "min_size": { "type": ["number", "null"] },
                  "live": { "type": ["boolean", "null"] }
                }
              }
            }
          },
          "rate_limit": {
            "type": "object",
            "properties": {
              "remaining": { "type": "integer", "description": "API calls remaining in current window" },
              "reset_at": { "type": "string", "format": "date-time", "description": "When the rate limit window resets" }
            }
          },
          "cache_max_age": { "type": "integer", "description": "Recommended cache duration in seconds", "example": 10 }
        }
      },
      "MiddlesSummaryResponse": {
        "type": "object",
        "description": "Aggregate statistics about available middle opportunities",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "total": { "type": "integer", "description": "Total number of middle opportunities" },
              "positive_ev_count": { "type": "integer", "description": "Number of opportunities with positive expected value" },
              "guaranteed_profit_count": { "type": "integer", "description": "Number of guaranteed-profit middles" },
              "player_prop_count": { "type": "integer", "description": "Number of player prop middles" },
              "by_sport": { "type": "object", "additionalProperties": { "type": "integer" }, "description": "Opportunity count by sport" },
              "by_market": { "type": "object", "additionalProperties": { "type": "integer" }, "description": "Opportunity count by market type" },
              "by_sportsbook": { "type": "object", "additionalProperties": { "type": "integer" }, "description": "Opportunity count by sportsbook" },
              "avg_middle_size": { "type": "number", "description": "Average middle size in points" },
              "avg_probability": { "type": "number", "description": "Average middle probability" },
              "avg_ev": { "type": "number", "description": "Average expected value" },
              "best_ev": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "ev": { "type": "number" },
                      "sport": { "type": "string" },
                      "market": { "type": "string" }
                    }
                  },
                  { "type": "null" }
                ],
                "description": "Best EV opportunity summary, or null if no opportunities"
              },
              "has_key_numbers_count": { "type": "integer", "description": "Number of opportunities containing key numbers" }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "source": { "type": "string", "description": "Data source identifier" },
              "filters": {
                "type": "object",
                "properties": {
                  "sport": { "type": ["string", "null"] },
                  "league": { "type": ["string", "null"] }
                }
              },
              "updated_at": { "type": "string", "format": "date-time", "description": "When the summary was last computed" }
            }
          }
        }
      },
      "MarketTypesResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "count": { "type": "integer" },
          "marketTypes": { "type": "array", "items": { "type": "object" } }
        }
      },
      "PlayerPropsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "total": { "type": "integer" },
          "count": { "type": "integer" },
          "playerProps": { "type": "array", "items": { "type": "object" } }
        }
      },
      "AlternatesResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "total": { "type": "integer" },
          "count": { "type": "integer" },
          "alternates": { "type": "array", "items": { "type": "object" } }
        }
      },
      "ActiveMarketsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "summary": { "type": "object" },
          "markets": { "type": "array", "items": { "type": "object" } }
        }
      },
      "BooksResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "count": { "type": "integer" },
          "active": { "type": "integer" },
          "books": { "type": "array", "items": { "$ref": "#/components/schemas/Sportsbook" } }
        }
      },
      "UserStatsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "timestamp": { "type": "string", "format": "date-time" },
          "stats": {
            "type": "object",
            "properties": {
              "keyId": { "type": "string" },
              "tier": { "$ref": "#/components/schemas/SubscriptionTier" },
              "usage": { "type": "object" },
              "limits": { "type": "object" }
            }
          },
          "features": { "type": "array", "items": { "type": "string" } }
        }
      },
      "OddsStreamEvent": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["initial", "odds_update", "heartbeat", "error"] },
          "timestamp": { "type": "string", "format": "date-time" },
          "data": { "type": "object" }
        }
      },
      "EVStreamEvent": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["initial", "ev_opportunity", "heartbeat", "error"] },
          "timestamp": { "type": "string", "format": "date-time" },
          "data": { "type": "object" }
        }
      },
      "ArbitrageStreamEvent": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["initial", "arbitrage", "heartbeat", "error"] },
          "timestamp": { "type": "string", "format": "date-time" },
          "data": { "type": "object" }
        }
      },
      "CombinedStreamEvent": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["connected", "initial", "ev_update", "arbitrage_update", "heartbeat", "error"] },
          "timestamp": { "type": "string", "format": "date-time" },
          "data": { "type": "object" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error", "code"],
        "properties": {
          "error": { "type": "string" },
          "code": { "type": "string" },
          "docs": { "type": "string" }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "API key required", "code": "missing_api_key", "docs": "https://sharpapi.io/docs/authentication" }
          }
        }
      },
      "TierRequired": {
        "description": "Higher tier required",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                { "$ref": "#/components/schemas/ErrorResponse" },
                {
                  "type": "object",
                  "properties": {
                    "required_tier": { "type": "string" },
                    "upgrade_url": { "type": "string" }
                  }
                }
              ]
            },
            "example": { "error": "Pro tier required", "code": "tier_required", "required_tier": "pro", "upgrade_url": "https://sharpapi.io/pricing" }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "allOf": [
                { "$ref": "#/components/schemas/ErrorResponse" },
                {
                  "type": "object",
                  "properties": {
                    "retry_after": { "type": "integer" },
                    "upgrade_url": { "type": "string" }
                  }
                }
              ]
            },
            "example": { "error": "Rate limit exceeded", "code": "rate_limit_exceeded", "retry_after": 45, "upgrade_url": "https://sharpapi.io/pricing" }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "Event not found", "code": "not_found" }
          }
        }
      },
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" },
            "example": { "error": "Invalid query parameter", "code": "invalid_request" }
          }
        }
      }
    }
  }
}
