{
  "openapi": "3.1.0",
  "info": {
    "title": "SharpAPI",
    "version": "2.0.0",
    "description": "Real-time sports betting odds API with +EV detection, arbitrage, middles, and low-hold opportunities.\n\n## Authentication\n\nAll authenticated endpoints accept an API key via one of three methods:\n\n| Method | Header / Param | Use case |\n|--------|---------------|----------|\n| `X-API-Key` | `X-API-Key: sk_live_...` | Recommended for server-side |\n| `Authorization` | `Authorization: Bearer sk_live_...` | Standard Bearer token |\n| `api_key` query | `?api_key=sk_live_...` | SSE/EventSource (cannot set headers) |\n\n## Subscription Tiers\n\n| Tier | Rate Limit | Data Delay | Max Books | EV | Arb | Middles | Game State |\n|------|-----------|------------|-----------|-----|-----|---------|------------|\n| Free | 12/min | 60s | 2 (DK, FD) | - | - | - | - |\n| Hobby | 120/min | Real-time | 5 | - | Yes | - | - |\n| Pro | 300/min | Real-time | 15 | Yes | Yes | Yes | - |\n| Sharp | 1000/min | Real-time | All | Yes | Yes | Yes | - |\n| Enterprise | Custom | Real-time | All | Yes | Yes | Yes | Yes |\n\n## Rate Limit Headers\n\nEvery authenticated response includes:\n\n- `X-RateLimit-Limit` - Requests allowed per minute\n- `X-RateLimit-Remaining` - Requests remaining in current window\n- `X-RateLimit-Reset` - Unix timestamp when the window resets\n- `X-Data-Delay` - Odds delay in seconds for your tier (0 = real-time)\n- `X-Request-Id` - Unique request identifier for support\n",
    "contact": {
      "name": "SharpAPI Support",
      "url": "https://sharpapi.io",
      "email": "support@sharpapi.io"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://sharpapi.io/terms"
    }
  },
  "servers": [
    {
      "url": "https://api.sharpapi.io/api/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "Service health and status"
    },
    {
      "name": "Reference Data",
      "description": "Sports, leagues, sportsbooks, markets, and teams"
    },
    {
      "name": "Events",
      "description": "Event discovery and details"
    },
    {
      "name": "Odds",
      "description": "Odds snapshots, comparisons, batch, and deltas"
    },
    {
      "name": "Opportunities",
      "description": "+EV, arbitrage, middles, and low-hold opportunities"
    },
    {
      "name": "Streaming",
      "description": "Real-time SSE streaming"
    },
    {
      "name": "Account",
      "description": "Account info, usage, and key management"
    },
    {
      "name": "Deep Links",
      "description": "Sportsbook deep link generation"
    },
    {
      "name": "Futures",
      "description": "Futures markets and odds"
    },
    {
      "name": "Game State",
      "description": "Live game state data (Enterprise)"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": []
    },
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Returns service health status, Redis connectivity, data freshness, and schema compatibility. No authentication required.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy or degraded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "version",
                    "timestamp",
                    "checks"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "degraded"
                      ]
                    },
                    "version": {
                      "type": "string",
                      "example": "v1"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "checks": {
                      "type": "object",
                      "properties": {
                        "redis": {
                          "$ref": "#/components/schemas/HealthCheck"
                        },
                        "data": {
                          "$ref": "#/components/schemas/HealthCheck"
                        },
                        "schema": {
                          "$ref": "#/components/schemas/HealthCheck"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "ok",
                  "version": "v1",
                  "timestamp": "2026-03-09T14:00:00Z",
                  "checks": {
                    "redis": {
                      "status": "ok",
                      "latency_ms": 2
                    },
                    "data": {
                      "status": "ok",
                      "message": "28 sportsbook snapshots available"
                    },
                    "schema": {
                      "status": "ok",
                      "message": "All 14 required fields present"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service is down",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "down"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sports": {
      "get": {
        "operationId": "listSports",
        "summary": "List sports",
        "description": "Returns available sports with event and live counts. Public endpoint with optional API key for higher rate limits.",
        "tags": [
          "Reference Data"
        ],
        "security": [
          {},
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "include_empty",
            "in": "query",
            "description": "Include sports with zero events",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sports",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Sport"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "basketball",
                      "name": "Basketball",
                      "event_count": 42,
                      "live_count": 3,
                      "leagues": [
                        "nba",
                        "ncaab",
                        "wnba"
                      ]
                    },
                    {
                      "id": "football",
                      "name": "Football",
                      "event_count": 16,
                      "live_count": 0,
                      "leagues": [
                        "nfl",
                        "ncaaf"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sports/{sportId}": {
      "get": {
        "operationId": "getSport",
        "summary": "Get sport by ID",
        "description": "Returns details for a single sport.",
        "tags": [
          "Reference Data"
        ],
        "security": [
          {},
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "basketball"
          }
        ],
        "responses": {
          "200": {
            "description": "Sport details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Sport"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/leagues": {
      "get": {
        "operationId": "listLeagues",
        "summary": "List leagues",
        "description": "Returns available leagues with event counts. Optionally filter by sport.",
        "tags": [
          "Reference Data"
        ],
        "security": [
          {},
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Filter by sport ID",
            "schema": {
              "type": "string"
            },
            "example": "basketball"
          },
          {
            "name": "include_empty",
            "in": "query",
            "description": "Include leagues with zero events",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of leagues",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/League"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "nba",
                      "name": "NBA",
                      "sport": "basketball",
                      "event_count": 15,
                      "live_count": 2
                    },
                    {
                      "id": "ncaab",
                      "name": "NCAAB",
                      "sport": "basketball",
                      "event_count": 24,
                      "live_count": 1
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sportsbooks": {
      "get": {
        "operationId": "listSportsbooks",
        "summary": "List sportsbooks",
        "description": "Returns available sportsbooks with status, capabilities, and event counts. Use `catalog=true` for a config-based catalog that doesn't require live data.",
        "tags": [
          "Reference Data"
        ],
        "security": [
          {},
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "UK",
                "EU",
                "AU",
                "GLOBAL"
              ]
            },
            "example": "US"
          },
          {
            "name": "sharp",
            "in": "query",
            "description": "Filter by sharp book status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "catalog",
            "in": "query",
            "description": "Return config-based catalog (no Redis dependency)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_unlisted",
            "in": "query",
            "description": "Include unlisted sportsbooks",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_inactive",
            "in": "query",
            "description": "Include inactive sportsbooks (zero events)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of sportsbooks",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Sportsbook"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "draftkings",
                      "name": "draftkings",
                      "display_name": "DraftKings",
                      "is_sharp": false,
                      "has_live_odds": true,
                      "has_player_props": true,
                      "regions": [
                        "US"
                      ],
                      "requires_tier": "free",
                      "status": "active",
                      "event_count": 320,
                      "last_update": "2026-03-09T14:22:00Z",
                      "unlisted": false
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/sportsbooks/{bookId}": {
      "get": {
        "operationId": "getSportsbook",
        "summary": "Get sportsbook by ID",
        "description": "Returns details for a single sportsbook.",
        "tags": [
          "Reference Data"
        ],
        "security": [
          {},
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "bookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "draftkings"
          }
        ],
        "responses": {
          "200": {
            "description": "Sportsbook details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Sportsbook"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/markets": {
      "get": {
        "operationId": "listMarkets",
        "summary": "List market types",
        "description": "Returns available market types with descriptions, examples, and event counts.",
        "tags": [
          "Reference Data"
        ],
        "security": [
          {},
          {
            "ApiKeyHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of market types",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Market"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "moneyline",
                      "name": "Moneyline",
                      "description": "Bet on which team will win the game outright",
                      "hasLine": false,
                      "examples": [
                        "Lakers -150",
                        "Celtics +130"
                      ],
                      "event_count": 312,
                      "selection_count": 1840,
                      "sports": [
                        "basketball",
                        "football",
                        "baseball",
                        "hockey"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "List teams",
        "description": "Returns teams aggregated from current odds snapshots.",
        "tags": [
          "Reference Data"
        ],
        "security": [
          {},
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Filter by sport",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "league",
            "in": "query",
            "description": "Filter by league",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "Search team names (partial match)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of teams",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Team"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "boston-celtics",
                      "name": "Boston Celtics",
                      "sport": "basketball",
                      "leagues": [
                        "nba"
                      ],
                      "aliases": [
                        "Celtics"
                      ],
                      "event_count": 3,
                      "live_count": 1
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "description": "Returns events aggregated from current odds snapshots. Supports filtering by sport, league, live status, team name, date, and text search.\n\n**Authentication required.**\n",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sport"
          },
          {
            "$ref": "#/components/parameters/league"
          },
          {
            "$ref": "#/components/parameters/sportsbook"
          },
          {
            "$ref": "#/components/parameters/live"
          },
          {
            "$ref": "#/components/parameters/has_score"
          },
          {
            "$ref": "#/components/parameters/team"
          },
          {
            "$ref": "#/components/parameters/date"
          },
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of events",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Data-Delay": {
                "$ref": "#/components/headers/X-Data-Delay"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Event"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "nba-20260309-lal-bos",
                      "external_ids": {
                        "draftkings": "123456",
                        "fanduel": "789012"
                      },
                      "sport": "basketball",
                      "league": "nba",
                      "home_team": "Boston Celtics",
                      "away_team": "Los Angeles Lakers",
                      "start_time": "2026-03-09T19:30:00Z",
                      "status": "upcoming",
                      "is_live": false,
                      "book_count": 12,
                      "markets": [
                        "moneyline",
                        "point_spread",
                        "total_points",
                        "player_prop"
                      ],
                      "books": [
                        "betmgm",
                        "caesars",
                        "draftkings",
                        "fanduel"
                      ]
                    }
                  ],
                  "pagination": {
                    "limit": 50,
                    "offset": 0,
                    "has_more": false,
                    "next_offset": null
                  },
                  "meta": {
                    "count": 1,
                    "total": 1
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/events/{eventId}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get event by ID",
        "description": "Returns details for a single event.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "nba-20260309-lal-bos"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Event"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{eventId}/markets": {
      "get": {
        "operationId": "getEventMarkets",
        "summary": "Get markets for an event",
        "description": "Returns available market types for a specific event.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of markets for the event",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/events/{eventId}/odds": {
      "get": {
        "operationId": "getEventOdds",
        "summary": "Get odds for an event",
        "description": "Returns odds for a specific event, optionally filtered by sportsbook and market.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sportsbook",
            "in": "query",
            "description": "Filter by sportsbook (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Filter by market type (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated odds for the event",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Odds"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/odds": {
      "get": {
        "operationId": "listOdds",
        "summary": "List odds",
        "description": "Returns odds across all sportsbooks and events. Supports extensive filtering, sorting, field selection, and grouping.\n\n**Sort options:** `odds_american`, `odds_decimal`, `probability`, `timestamp`, `event_start_time`, `sportsbook`, `sport`, `league`. Prefix with `-` for descending.\n\n**Field selection:** Use `fields` to return only specific fields (e.g., `fields=id,odds_american,sportsbook`).\n",
        "tags": [
          "Odds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sport"
          },
          {
            "$ref": "#/components/parameters/league"
          },
          {
            "$ref": "#/components/parameters/sportsbook"
          },
          {
            "$ref": "#/components/parameters/add_sportsbook"
          },
          {
            "$ref": "#/components/parameters/market"
          },
          {
            "$ref": "#/components/parameters/event"
          },
          {
            "$ref": "#/components/parameters/live"
          },
          {
            "$ref": "#/components/parameters/team"
          },
          {
            "$ref": "#/components/parameters/date"
          },
          {
            "$ref": "#/components/parameters/q"
          },
          {
            "$ref": "#/components/parameters/min_odds"
          },
          {
            "$ref": "#/components/parameters/max_odds"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field. Prefix with `-` for descending (e.g., `-odds_american`).",
            "schema": {
              "type": "string",
              "enum": [
                "odds_american",
                "-odds_american",
                "odds_decimal",
                "-odds_decimal",
                "probability",
                "-probability",
                "timestamp",
                "-timestamp",
                "event_start_time",
                "-event_start_time",
                "sportsbook",
                "-sportsbook",
                "sport",
                "-sport",
                "league",
                "-league"
              ]
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to return",
            "schema": {
              "type": "string"
            },
            "example": "id,sportsbook,odds_american,odds_decimal"
          },
          {
            "name": "group_by",
            "in": "query",
            "description": "Group results by event",
            "schema": {
              "type": "string",
              "enum": [
                "event"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated odds",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "X-Data-Delay": {
                "$ref": "#/components/headers/X-Data-Delay"
              },
              "X-Request-Id": {
                "$ref": "#/components/headers/X-Request-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Odds"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/odds/best": {
      "get": {
        "operationId": "getBestOdds",
        "summary": "Best odds per selection",
        "description": "Returns the best available odds for each selection across all sportsbooks.",
        "tags": [
          "Odds"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sport"
          },
          {
            "$ref": "#/components/parameters/league"
          },
          {
            "$ref": "#/components/parameters/sportsbook"
          },
          {
            "$ref": "#/components/parameters/market"
          },
          {
            "$ref": "#/components/parameters/event"
          },
          {
            "$ref": "#/components/parameters/live"
          },
          {
            "$ref": "#/components/parameters/team"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated best odds",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Odds"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/odds/comparison": {
      "get": {
        "operationId": "compareOdds",
        "summary": "Compare odds across books",
        "description": "Returns side-by-side odds comparison for a specific event across all sportsbooks.",
        "tags": [
          "Odds"
        ],
        "parameters": [
          {
            "name": "event",
            "in": "query",
            "required": true,
            "description": "Event ID to compare",
            "schema": {
              "type": "string"
            },
            "example": "nba-20260309-lal-bos"
          },
          {
            "name": "market",
            "in": "query",
            "description": "Filter by market type (comma-separated)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Odds comparison",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Odds"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/odds/batch": {
      "post": {
        "operationId": "batchOdds",
        "summary": "Batch odds lookup",
        "description": "Returns odds for multiple events in a single request. Batch size limits vary by tier:\n- Free: 5 events\n- Hobby: 20 events\n- Pro: 50 events\n- Sharp/Enterprise: 100 events\n",
        "tags": [
          "Odds"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchOddsRequest"
              },
              "example": {
                "event_ids": [
                  "nba-20260309-lal-bos",
                  "nba-20260309-gsw-mia"
                ],
                "sportsbook": "draftkings",
                "market": "moneyline"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Odds for requested events",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "array",
                            "items": {
                              "$ref": "#/components/schemas/Odds"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/odds/delta": {
      "get": {
        "operationId": "getOddsDelta",
        "summary": "Odds changes since timestamp",
        "description": "Returns odds that have changed since the given ISO 8601 timestamp.",
        "tags": [
          "Odds"
        ],
        "parameters": [
          {
            "name": "since",
            "in": "query",
            "required": true,
            "description": "ISO 8601 timestamp to get changes since",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2026-03-09T14:00:00Z"
          },
          {
            "$ref": "#/components/parameters/sport"
          },
          {
            "$ref": "#/components/parameters/league"
          },
          {
            "$ref": "#/components/parameters/sportsbook"
          },
          {
            "$ref": "#/components/parameters/market"
          },
          {
            "$ref": "#/components/parameters/event"
          },
          {
            "$ref": "#/components/parameters/live"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Odds changed since the given timestamp",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Odds"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/opportunities/ev": {
      "get": {
        "operationId": "listEVOpportunities",
        "summary": "List +EV opportunities",
        "description": "Returns positive expected value betting opportunities. Requires **Pro** tier or higher.\n\nEV is calculated by devigging sharp book lines (typically Pinnacle) and comparing\nagainst other sportsbook prices.\n\n**Sort options:** `ev` (default), `odds`, `confidence`, `start_time`, `kelly`.\n",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sport"
          },
          {
            "$ref": "#/components/parameters/league"
          },
          {
            "$ref": "#/components/parameters/sportsbook"
          },
          {
            "$ref": "#/components/parameters/market"
          },
          {
            "$ref": "#/components/parameters/event"
          },
          {
            "$ref": "#/components/parameters/live"
          },
          {
            "$ref": "#/components/parameters/team"
          },
          {
            "$ref": "#/components/parameters/min_odds"
          },
          {
            "$ref": "#/components/parameters/max_odds"
          },
          {
            "$ref": "#/components/parameters/min_ev"
          },
          {
            "$ref": "#/components/parameters/max_ev"
          },
          {
            "$ref": "#/components/parameters/min_market_width"
          },
          {
            "$ref": "#/components/parameters/max_market_width"
          },
          {
            "$ref": "#/components/parameters/max_odds_age"
          },
          {
            "$ref": "#/components/parameters/date_range"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "ev",
                "-ev",
                "odds",
                "-odds",
                "confidence",
                "-confidence",
                "start_time",
                "-start_time",
                "kelly",
                "-kelly"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated EV opportunities",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EVOpportunity"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "a1b2c3d4e5f67890",
                      "game_id": "nba-20260309-lal-bos",
                      "ev_percent": 4.2,
                      "odds_american": 135,
                      "odds_decimal": 2.35,
                      "no_vig_odds": 125,
                      "selection": "Los Angeles Lakers",
                      "market": "moneyline",
                      "line": null,
                      "sportsbook": "draftkings",
                      "game": "Los Angeles Lakers @ Boston Celtics",
                      "sport": "basketball",
                      "league": "nba",
                      "home_team": "Boston Celtics",
                      "away_team": "Los Angeles Lakers",
                      "start_time": "2026-03-09T19:30:00Z",
                      "is_live": false,
                      "market_width": 6.5,
                      "true_probability": 0.444,
                      "devig_method": "multiplicative",
                      "devig_book": "pinnacle",
                      "external_event_id": "dk-123456",
                      "selection_id": "sel-789",
                      "detected_at": "2026-03-09T14:22:15Z",
                      "confidence_score": 78,
                      "kelly_fraction": 0.031,
                      "book_count": 8,
                      "arb_available": false,
                      "arb_profit": null,
                      "is_player_prop": false,
                      "player_name": null,
                      "stat_category": null,
                      "possibly_stale": false,
                      "oldest_odds_age_seconds": 12,
                      "warnings": []
                    }
                  ],
                  "pagination": {
                    "limit": 50,
                    "offset": 0,
                    "has_more": false,
                    "next_offset": null
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierRestricted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/opportunities/arbitrage": {
      "get": {
        "operationId": "listArbitrageOpportunities",
        "summary": "List arbitrage opportunities",
        "description": "Returns arbitrage (sure-bet) opportunities across sportsbooks. Requires **Hobby** tier or higher.\n\n**Sort options:** `profit` (default), `start_time`, `sport`.\n\n**Format:** Set `format=csv` for CSV export. Set `group=best` to return only the highest-profit arb per event.\n",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sport"
          },
          {
            "$ref": "#/components/parameters/league"
          },
          {
            "$ref": "#/components/parameters/sportsbook"
          },
          {
            "$ref": "#/components/parameters/market"
          },
          {
            "$ref": "#/components/parameters/event"
          },
          {
            "$ref": "#/components/parameters/live"
          },
          {
            "$ref": "#/components/parameters/team"
          },
          {
            "$ref": "#/components/parameters/min_odds"
          },
          {
            "$ref": "#/components/parameters/max_odds"
          },
          {
            "$ref": "#/components/parameters/min_profit"
          },
          {
            "$ref": "#/components/parameters/max_odds_age"
          },
          {
            "$ref": "#/components/parameters/date_range"
          },
          {
            "name": "format",
            "in": "query",
            "description": "Response format",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Grouping mode",
            "schema": {
              "type": "string",
              "enum": [
                "best"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "profit",
                "-profit",
                "start_time",
                "-start_time",
                "sport",
                "-sport"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated arbitrage opportunities",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ArbitrageOpportunity"
                          }
                        }
                      }
                    }
                  ]
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierRestricted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/opportunities/middles": {
      "get": {
        "operationId": "listMiddleOpportunities",
        "summary": "List middle opportunities",
        "description": "Returns middle betting opportunities where both sides of a line can win simultaneously. Requires **Pro** tier or higher.\n\n**Sort options:** `quality` (default), `ev`, `probability`, `middle_size`.\n",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sport"
          },
          {
            "$ref": "#/components/parameters/league"
          },
          {
            "$ref": "#/components/parameters/sportsbook"
          },
          {
            "$ref": "#/components/parameters/market"
          },
          {
            "$ref": "#/components/parameters/event"
          },
          {
            "$ref": "#/components/parameters/live"
          },
          {
            "$ref": "#/components/parameters/team"
          },
          {
            "$ref": "#/components/parameters/min_odds"
          },
          {
            "$ref": "#/components/parameters/max_odds"
          },
          {
            "$ref": "#/components/parameters/min_size"
          },
          {
            "$ref": "#/components/parameters/max_odds_age"
          },
          {
            "$ref": "#/components/parameters/date_range"
          },
          {
            "name": "state",
            "in": "query",
            "description": "US state code for deep link generation",
            "schema": {
              "type": "string",
              "default": "pa"
            },
            "example": "nj"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "quality",
                "-quality",
                "ev",
                "-ev",
                "probability",
                "-probability",
                "middle_size",
                "-middle_size"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated middle opportunities",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MiddleOpportunity"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierRestricted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/opportunities/middles/{id}": {
      "get": {
        "operationId": "getMiddleOpportunity",
        "summary": "Get middle opportunity by ID",
        "description": "Returns details for a single middle opportunity. Requires **Pro** tier or higher.",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "16-character hex opportunity ID",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{16}$"
            },
            "example": "a1b2c3d4e5f67890"
          }
        ],
        "responses": {
          "200": {
            "description": "Middle opportunity details",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/MiddleOpportunity"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierRestricted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/opportunities/middles/summary": {
      "get": {
        "operationId": "getMiddlesSummary",
        "summary": "Middles summary by sport/league",
        "description": "Returns aggregated middle opportunity counts by sport and league. Requires **Pro** tier or higher.",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sport"
          },
          {
            "$ref": "#/components/parameters/league"
          }
        ],
        "responses": {
          "200": {
            "description": "Summary of middle opportunities",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierRestricted"
          }
        }
      }
    },
    "/opportunities/low_hold": {
      "get": {
        "operationId": "listLowHoldOpportunities",
        "summary": "List low-hold opportunities",
        "description": "Returns markets with unusually low bookmaker hold (vig), indicating efficient pricing. Requires **Hobby** tier or higher.\n\n**Sort options:** `hold` (default), `market`, `sport`.\n",
        "tags": [
          "Opportunities"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/sport"
          },
          {
            "$ref": "#/components/parameters/league"
          },
          {
            "$ref": "#/components/parameters/sportsbook"
          },
          {
            "$ref": "#/components/parameters/market"
          },
          {
            "$ref": "#/components/parameters/event"
          },
          {
            "$ref": "#/components/parameters/live"
          },
          {
            "$ref": "#/components/parameters/team"
          },
          {
            "$ref": "#/components/parameters/min_odds"
          },
          {
            "$ref": "#/components/parameters/max_odds"
          },
          {
            "$ref": "#/components/parameters/max_odds_age"
          },
          {
            "$ref": "#/components/parameters/date_range"
          },
          {
            "name": "max_hold",
            "in": "query",
            "description": "Maximum hold percentage to return",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "US state code for deep link generation",
            "schema": {
              "type": "string",
              "default": "pa"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "hold",
                "-hold",
                "market",
                "-market",
                "sport",
                "-sport"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated low-hold opportunities",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/LowHoldOpportunity"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierRestricted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/stream": {
      "get": {
        "operationId": "stream",
        "summary": "Real-time SSE stream",
        "description": "Server-Sent Events stream for real-time odds and opportunity updates. Requires streaming access (WebSocket add-on, Enterprise tier, or active trial).\n\nUse `api_key` query parameter for authentication since `EventSource` cannot set headers.\n\n## Channels\n\n| Channel | Description |\n|---------|-------------|\n| `opportunities` | EV, arbitrage, middles, low-hold updates (default) |\n| `odds` | Raw odds changes |\n| `all` | Both odds and opportunities |\n| `gamestate` | Live game state updates (Enterprise only) |\n\n## Event Types\n\n| Event | Payload | Description |\n|-------|---------|-------------|\n| `connected` | `{filters, channels}` | Stream established |\n| `snapshot` | Array of items | Initial data dump (one per type) |\n| `snapshot:complete` | `{}` | All snapshots sent |\n| `odds:update` | `Odds` | Odds changed |\n| `odds:removed` | `{id, sportsbook}` | Selection removed |\n| `ev:detected` | `EVOpportunity` | New +EV opportunity |\n| `ev:expired` | `{id}` | EV opportunity gone |\n| `arb:detected` | `ArbitrageOpportunity` | New arbitrage |\n| `arb:expired` | `{id}` | Arbitrage gone |\n| `middles:detected` | `MiddleOpportunity` | New middle |\n| `middles:expired` | `{id}` | Middle gone |\n| `low_hold:detected` | `LowHoldOpportunity` | New low-hold |\n| `low_hold:expired` | `{id}` | Low-hold gone |\n| `gamestate:snapshot` | `{sport, events}` | Initial game state |\n| `gamestate:update` | `{sport, event_id, ...}` | Game state changed |\n| `heartbeat` | `{ts}` | Keep-alive (every 30s) |\n| `error` | `{message}` | Recoverable error |\n\nSupports `Last-Event-ID` header for reconnection.\n",
        "tags": [
          "Streaming"
        ],
        "security": [
          {
            "ApiKeyQuery": []
          },
          {
            "ApiKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "api_key",
            "in": "query",
            "description": "API key (for EventSource which cannot set headers)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Stream channel",
            "schema": {
              "type": "string",
              "enum": [
                "opportunities",
                "odds",
                "all",
                "gamestate"
              ],
              "default": "opportunities"
            }
          },
          {
            "$ref": "#/components/parameters/sport"
          },
          {
            "$ref": "#/components/parameters/league"
          },
          {
            "$ref": "#/components/parameters/sportsbook"
          },
          {
            "$ref": "#/components/parameters/market"
          },
          {
            "$ref": "#/components/parameters/event"
          },
          {
            "$ref": "#/components/parameters/live"
          },
          {
            "$ref": "#/components/parameters/min_ev"
          },
          {
            "$ref": "#/components/parameters/min_profit"
          },
          {
            "name": "state",
            "in": "query",
            "description": "US state code for deep link generation",
            "schema": {
              "type": "string",
              "default": "pa"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SSE event stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream. Each event has `event:` type, `data:` JSON payload, and `id:` for reconnection."
                },
                "example": "event: connected\ndata: {\"filters\":{\"channel\":\"opportunities\",\"sport\":null},\"session_id\":\"abc123\"}\nid: 1709993400000-1\n\nevent: ev:detected\ndata: {\"id\":\"a1b2c3d4e5f67890\",\"ev_percent\":4.2,\"sportsbook\":\"draftkings\",\"selection\":\"Los Angeles Lakers\",\"market\":\"moneyline\",\"sport\":\"basketball\",\"league\":\"nba\"}\nid: 1709993400000-2\n\nevent: heartbeat\ndata: {\"ts\":1709993430000}\nid: 1709993430000-3\n"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Streaming access required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "error": {
                    "code": "streaming_not_available",
                    "message": "Streaming requires WebSocket add-on or Enterprise tier",
                    "docs": "https://sharpapi.io/pricing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account info",
        "description": "Returns API key details, tier, limits, feature access, and add-on status.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account information",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Account"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "key": {
                      "id": "key_abc123",
                      "tier": "pro",
                      "user_id": "user_xyz"
                    },
                    "limits": {
                      "requests_per_minute": 300,
                      "max_streams": 0,
                      "odds_delay_seconds": 0,
                      "max_books": 15
                    },
                    "features": {
                      "ev": true,
                      "arbitrage": true,
                      "middles": true,
                      "streaming": false
                    },
                    "addons": []
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/account/usage": {
      "get": {
        "operationId": "getAccountUsage",
        "summary": "Get usage statistics",
        "description": "Returns request counts, rate limit status, and stream usage for the current billing period.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Usage"
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "requests": {
                      "today": 1420,
                      "this_week": 8200,
                      "this_month": 32500,
                      "limit": {
                        "per_minute": 300,
                        "remaining": 285,
                        "resets_at": "2026-03-09T14:23:00Z"
                      }
                    },
                    "streams": {
                      "active": 0,
                      "max": 0
                    },
                    "period": {
                      "start": "2026-03-01T00:00:00Z",
                      "end": "2026-03-31T23:59:59Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/account/keys": {
      "get": {
        "operationId": "listApiKeys",
        "summary": "List API keys",
        "description": "Returns all API keys for the authenticated user.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ApiKey"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "id": "key_abc123",
                      "id_masked": "...key_abc123",
                      "name": "Production Key",
                      "tier": "pro",
                      "is_active": true,
                      "created_at": "2026-01-15T10:00:00Z",
                      "updated_at": "2026-03-01T00:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "summary": "Create a new API key",
        "description": "Creates a new API key for the authenticated user. The key value is returned only once in the response.\nMaximum keys per tier: Free/Hobby/Pro = 1, Sharp = 2, Enterprise = custom.\n",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Optional display name for the key"
                  }
                }
              },
              "example": {
                "name": "My new key"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New API key created (key value shown only once)",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "id",
                            "key",
                            "tier"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "key": {
                              "type": "string",
                              "description": "The API key value (shown only once)"
                            },
                            "name": {
                              "type": "string",
                              "nullable": true
                            },
                            "tier": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "key_new456",
                    "key": "sk_live_abc123def456",
                    "name": "My new key",
                    "tier": "pro"
                  },
                  "meta": {
                    "warning": "This is the only time the key value will be shown. Store it securely."
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/deeplinks": {
      "get": {
        "operationId": "getDeepLinks",
        "summary": "Get deep links for an opportunity",
        "description": "Generates sportsbook deep link URLs for a given opportunity ID. The ID comes from the `id` field in EV, arbitrage, middles, or low-hold responses. Requires **Hobby** tier or higher.\n",
        "tags": [
          "Deep Links"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "16-character hex opportunity ID",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{16}$"
            },
            "example": "a1b2c3d4e5f67890"
          },
          {
            "name": "state",
            "in": "query",
            "description": "US state code for state-specific deep links",
            "schema": {
              "type": "string",
              "default": "pa"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deep link URLs by sportsbook",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "id",
                            "deep_links"
                          ],
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "deep_links": {
                              "type": "object",
                              "additionalProperties": {
                                "type": "string",
                                "format": "uri"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "id": "a1b2c3d4e5f67890",
                    "deep_links": {
                      "draftkings": "https://sportsbook.draftkings.com/event/123456",
                      "fanduel": "https://sportsbook.fanduel.com/basketball/nba/event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierRestricted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/deeplinks/batch": {
      "post": {
        "operationId": "batchDeepLinks",
        "summary": "Batch deep link lookup",
        "description": "Returns deep links for multiple opportunity IDs. Requires **Hobby** tier or higher.",
        "tags": [
          "Deep Links"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ids"
                ],
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^[a-f0-9]{16}$"
                    },
                    "maxItems": 50
                  },
                  "state": {
                    "type": "string",
                    "default": "pa"
                  }
                }
              },
              "example": {
                "ids": [
                  "a1b2c3d4e5f67890",
                  "b2c3d4e5f6789012"
                ],
                "state": "nj"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Deep links for each opportunity",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string",
                              "format": "uri"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierRestricted"
          }
        }
      }
    },
    "/deeplink/{id}": {
      "get": {
        "operationId": "redirectDeepLink",
        "summary": "Deep link redirect",
        "description": "Redirects to a sportsbook deep link. No authentication required.\nReturns a 302 redirect to the sportsbook URL, or 404 if the link cannot be generated.\n",
        "tags": [
          "Deep Links"
        ],
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Opportunity or event identifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "US state code",
            "schema": {
              "type": "string",
              "default": "pa"
            }
          },
          {
            "name": "book",
            "in": "query",
            "description": "Target sportsbook",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "game_id",
            "in": "query",
            "description": "Game/event ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sport",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "league",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "home",
            "in": "query",
            "description": "Home team name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "away",
            "in": "query",
            "description": "Away team name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fallback",
            "in": "query",
            "description": "Fallback URL if deep link cannot be generated",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to sportsbook",
            "headers": {
              "Location": {
                "description": "Sportsbook deep link URL",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          },
          "404": {
            "description": "Deep link not found"
          }
        }
      }
    },
    "/futures": {
      "get": {
        "operationId": "listFuturesMarkets",
        "summary": "List futures markets",
        "description": "Returns available futures markets with metadata, merged across all sportsbooks. Public endpoint.",
        "tags": [
          "Futures"
        ],
        "security": [
          {},
          {
            "ApiKeyHeader": []
          }
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "query",
            "description": "Filter by sport",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "league",
            "in": "query",
            "description": "Filter by league",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "future_type",
            "in": "query",
            "description": "Filter by futures type",
            "schema": {
              "type": "string",
              "enum": [
                "TEAM",
                "PLAYER",
                "OVER_UNDER",
                "YES_NO"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of futures markets",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FutureMarket"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "market_id": "championship_winner",
                      "display_name": "NBA Championship Winner",
                      "sport": "basketball",
                      "league": "nba",
                      "future_type": "TEAM",
                      "selection_count": 30,
                      "books_available": [
                        "draftkings",
                        "fanduel",
                        "betmgm"
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/futures/odds": {
      "get": {
        "operationId": "listFuturesOdds",
        "summary": "Get futures odds",
        "description": "Returns cross-book odds for a specific futures market. Requires authentication.",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "future_id",
            "in": "query",
            "required": true,
            "description": "Futures market ID",
            "schema": {
              "type": "string"
            },
            "example": "championship_winner"
          },
          {
            "name": "sportsbook",
            "in": "query",
            "description": "Filter by sportsbook (comma-separated)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sport",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "league",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated futures odds",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/PaginatedEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/FutureOdds"
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": [
                    {
                      "selection": "Boston Celtics",
                      "sportsbook": "draftkings",
                      "odds_american": 350,
                      "odds_decimal": 4.5,
                      "probability": 0.2222,
                      "future_type": "TEAM",
                      "future_market_id": "championship_winner",
                      "future_market_name": "NBA Championship Winner",
                      "sport": "basketball",
                      "league": "nba",
                      "event_start_time": "2026-06-15T00:00:00Z",
                      "timestamp": "2026-03-09T14:00:00Z"
                    }
                  ],
                  "pagination": {
                    "limit": 100,
                    "offset": 0,
                    "has_more": false,
                    "next_offset": null
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/gamestate": {
      "get": {
        "operationId": "listGameStateSports",
        "summary": "List game state sports",
        "description": "Returns a summary of sports with available game state data. Requires **Enterprise** tier.",
        "tags": [
          "Game State"
        ],
        "responses": {
          "200": {
            "description": "Available game state sports",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "sports": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "sport": {
                                    "type": "string"
                                  },
                                  "event_count": {
                                    "type": "integer"
                                  },
                                  "ttl": {
                                    "type": "integer",
                                    "description": "TTL in seconds for this sport's data"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                },
                "example": {
                  "success": true,
                  "data": {
                    "sports": [
                      {
                        "sport": "basketball",
                        "event_count": 8,
                        "ttl": 120
                      },
                      {
                        "sport": "football",
                        "event_count": 3,
                        "ttl": 120
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierRestricted"
          }
        }
      }
    },
    "/gamestate/{sport}": {
      "get": {
        "operationId": "getGameState",
        "summary": "Get game state for a sport",
        "description": "Returns live game state data for all events in a sport. Requires **Enterprise** tier.",
        "tags": [
          "Game State"
        ],
        "parameters": [
          {
            "name": "sport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "basketball"
          }
        ],
        "responses": {
          "200": {
            "description": "Game state data for all live events",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "additionalProperties": {
                            "$ref": "#/components/schemas/EventGameState"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/TierRestricted"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key passed in the `X-API-Key` header"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as a Bearer token in the `Authorization` header"
      },
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key as query parameter (for SSE/EventSource only)"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Maximum requests allowed per minute",
        "schema": {
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "Requests remaining in the current window",
        "schema": {
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "Unix timestamp (ms) when the rate limit window resets",
        "schema": {
          "type": "integer"
        }
      },
      "X-Data-Delay": {
        "description": "Odds data delay in seconds (0 = real-time)",
        "schema": {
          "type": "integer"
        }
      },
      "X-Request-Id": {
        "description": "Unique request identifier",
        "schema": {
          "type": "string"
        }
      }
    },
    "parameters": {
      "sport": {
        "name": "sport",
        "in": "query",
        "description": "Filter by sport (comma-separated)",
        "schema": {
          "type": "string"
        },
        "example": "basketball"
      },
      "league": {
        "name": "league",
        "in": "query",
        "description": "Filter by league (comma-separated)",
        "schema": {
          "type": "string"
        },
        "example": "nba"
      },
      "sportsbook": {
        "name": "sportsbook",
        "in": "query",
        "description": "Filter by sportsbook (comma-separated)",
        "schema": {
          "type": "string"
        },
        "example": "draftkings,fanduel"
      },
      "add_sportsbook": {
        "name": "add_sportsbook",
        "in": "query",
        "description": "Add sportsbook(s) to the default set for your tier (can appear multiple times)",
        "schema": {
          "type": "string"
        }
      },
      "market": {
        "name": "market",
        "in": "query",
        "description": "Filter by market type (comma-separated)",
        "schema": {
          "type": "string"
        },
        "example": "moneyline,point_spread"
      },
      "event": {
        "name": "event",
        "in": "query",
        "description": "Filter by event ID (comma-separated). Alias `event_id` also accepted.",
        "schema": {
          "type": "string"
        }
      },
      "live": {
        "name": "live",
        "in": "query",
        "description": "Filter by live status",
        "schema": {
          "type": "boolean"
        }
      },
      "has_score": {
        "name": "has_score",
        "in": "query",
        "description": "Filter events that have (true) or lack (false) game state scores",
        "schema": {
          "type": "boolean"
        }
      },
      "team": {
        "name": "team",
        "in": "query",
        "description": "Filter by team name (partial match)",
        "schema": {
          "type": "string"
        }
      },
      "date": {
        "name": "date",
        "in": "query",
        "description": "Filter by event date (YYYY-MM-DD)",
        "schema": {
          "type": "string",
          "format": "date"
        },
        "example": "2026-03-09"
      },
      "q": {
        "name": "q",
        "in": "query",
        "description": "Full-text search on team names",
        "schema": {
          "type": "string"
        }
      },
      "min_odds": {
        "name": "min_odds",
        "in": "query",
        "description": "Minimum American odds",
        "schema": {
          "type": "number"
        }
      },
      "max_odds": {
        "name": "max_odds",
        "in": "query",
        "description": "Maximum American odds",
        "schema": {
          "type": "number"
        }
      },
      "min_ev": {
        "name": "min_ev",
        "in": "query",
        "description": "Minimum EV percentage",
        "schema": {
          "type": "number",
          "default": 0
        }
      },
      "max_ev": {
        "name": "max_ev",
        "in": "query",
        "description": "Maximum EV percentage",
        "schema": {
          "type": "number"
        }
      },
      "min_profit": {
        "name": "min_profit",
        "in": "query",
        "description": "Minimum profit percentage",
        "schema": {
          "type": "number",
          "default": 0.5
        }
      },
      "min_size": {
        "name": "min_size",
        "in": "query",
        "description": "Minimum middle size",
        "schema": {
          "type": "number",
          "default": 0.5
        }
      },
      "min_market_width": {
        "name": "min_market_width",
        "in": "query",
        "description": "Minimum market width",
        "schema": {
          "type": "number"
        }
      },
      "max_market_width": {
        "name": "max_market_width",
        "in": "query",
        "description": "Maximum market width",
        "schema": {
          "type": "number"
        }
      },
      "max_odds_age": {
        "name": "max_odds_age",
        "in": "query",
        "description": "Maximum odds age in seconds (filters out stale odds)",
[...]
